build --enable_runfiles
common --enable_bzlmod

build --noincompatible_sandbox_hermetic_tmp

build --cxxopt="-std=c++17"

# boost configuration
build --@boost//:beast_use_std_string_view

# debugging
build:dbg --copt="-g"
build:dbg --copt="-O0"
build:dbg --strip=never
build:dbg --copt="-fno-limit-debug-info"