.mainContent {
    width: 100%;
    height: 96%;
    padding: 2% 0;
}

.hidden {
    display: none;
}

.typeSwitchHeader {
    display: flex;
    width: 50%;
    height: 9%;
    margin: 0 auto 2%;
}

.typeSwitcher {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0 1.5%;
    border: 2px black solid;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.selectedTypeSwitcher {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0 1.5%;
    border: 2px black solid;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: orchid;
    cursor: pointer;
}

.productForm {
    height: 70%;
}

.productForm form {
    height: 100%;
}

.inputGroup {
    display: flex;
    align-items: center;
    width: 95%;
    height: 7%;
    margin: 0.5% auto;
}

.inputGroup label {
    min-width: 30%;
    padding: 0 1%;
    font-size: 100%;
    text-align: right;
}

.inputGroup input {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 100%;
}

.inputGroup input:focus {
    border-color: #8400ff;
    outline: none;
    box-shadow: 0 0 5px #6f00ff;
}

.textareaGroup {
    display: flex;
    align-items: center;
    width: 95%;
    height: 20%;
    margin: 0.5% auto;
}

.textareaGroup label {
    min-width: 30%;
    padding: 0 1%;
    font-size: 100%;
    text-align: right;
}

.textareaGroup textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    font-size: 100%;
    resize: vertical;
    resize: none;
}

.textareaGroup textarea:focus {
    border-color: #8400ff;
    outline: none;
    box-shadow: 0 0 5px #6f00ff;
}

.productSelect {
    display: flex;
    align-items: center;
    width: 50%;
    height: 7%;
    margin: 0 auto;
}

.productSelect label {
    width: 100%;
    margin: auto;
}

.productSelect select {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.productInfo {
    height: 100%;
    margin: 0 2%;
}

.productInfo p {
    width: 100%;
    margin: 2% auto;
    padding: 1% 0.5%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.saveButton {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 15%;
    height: 7%;
}

.saveButton button {
    width: 100%;
    height: 100%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.discardButton {
    position: absolute;
    right: 21%;
    bottom: 2%;
    width: 15%;
    height: 7%;
}

.discardButton button {
    width: 100%;
    height: 100%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}